<!-- <est-header></est-header>
<est-product-list></est-product-list>
<footer #ftr>this is footer</footer> -->
<div [ngSwitch]="10">
  <p class="inline">Today is </p>
  <p *ngSwitchCase="0" class="inline special">Sunday</p>
  <p *ngSwitchCase="1" class="inline special">Monday</p>
  <p *ngSwitchCase="2" class="inline special">Tuesday</p>
  <p *ngSwitchCase="3" class="inline special">Wednesday</p>
  <p *ngSwitchCase="4" class="inline special">Thursday</p>
  <p *ngSwitchCase="5" class="inline special">Friday</p>
  <p *ngSwitchCase="6" class="inline special">Saturday</p>
  <p *ngSwitchDefault class="inline special">Invalid Day !!</p>
</div>
